mount/.cache/*
!mount/.cache/.gitkeep
mount/.config/*
!mount/.config/.gitkeep
mount/.ssh/*
!mount/.ssh/.gitkeep
mount/PycharmProjects/*
!mount/PycharmProjects/.gitkeep
mount/.local/*
!mount/.local/.gitkeep
mount/.java/*
!mount/.java/.gitkeep